<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Editar informações do funcionário</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >  
     <script src="{% static 'bootstrap.min.js' %}"></script>  
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{employee.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 form-label"></label>  
    <div class="col-sm-4">  
    <h3>Editar Funcionário</h3>  
    </div>  
  </div>
  <div class="form-group row">
    <div class="col-md-2">  
      <label class="col-sm-2 form-label">Registro:</label>  
      <div class="col-sm-4">  
          <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ employee.eid }}"/>  
      </div>  
    </div>  
    <div class="col-md-2">  
      <label class="col-sm-2 form-label">Nome:</label>  
      <div class="col-sm-4">  
          <input type="text" name="enome" id="id_enome" required maxlength="100" value="{{ employee.enome }}" />  
      </div>  
    </div> 
  </div>
  <div class="form-group row">
    <div class="col-md-2">  
      <label class="col-sm-2 form-label">Email:</label>  
      <div class="col-sm-4">  
          <input type="email" name="eemail" id="id_eemail" required maxlength="254" value="{{ employee.eemail }}" />  
      </div>  
    </div>  
    <div class="col-md-2">  
      <label class="col-sm-2 form-label">Contato:</label>  
      <div class="col-sm-4">  
          <input type="text" name="econtato" id="id_econtato" required maxlength="15" value="{{ employee.econtato }}" />  
      </div>  
    </div>  
  </div>   
  <br>
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Alterar</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  